body{
    margin:1%;

}

.container{
   margin: 5%;
}

#myEdu{
    margin: 6%; 
      padding: 5%;
      text-align:center;
      border: 2px solid black;

}

#vacation{  margin: 6%; 
    padding: 5%;
    text-align:center;
    border: 2px solid black;


}